.article
  .article-title
    = question.title
  .article-description
    = question.description
  .article-posttime
    2018/07/24(Tuesday)
  .article-tags
    %ul
      %li.article-tag
        = question.generation
      - question.tag_list.each do |tag|
        %li.article-tag
          = tag
