.article
  .article-title
    = question.title
  .article-description
    = question.description
  .article-posttime
    2018/07/24(Tuesday)
  .article-tags
    %ul
      %li.article-tag
        = question.generation
      %li.article-tag
        三角関数
      %li.article-tag
        グラフ
