.main
  .box-container
    .sidebar
      .sidebar-container
        .question
          質問する
        .tag-list
          中学生数学
        .tag-list
          高校生数学
        .tag-list
          大学生数学


    .articles
      .articles-container
        .article
          .article-title
            この図形の解き方を教えてください
          .article-description
            高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。
          .article-posttime
            2018/07/24(Tuesday)
          .article-tags
            %ul
              %li.article-tag
                高2
              %li.article-tag
                三角関数
              %li.article-tag
                グラフ
        .article
          .article-title
            この図形の解き方を教えてください
          .article-description
            高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。
          .article-posttime
            2018/07/24(Tuesday)
          .article-tags
            %ul
              %li.article-tag
                高2
              %li.article-tag
                三角関数
              %li.article-tag
                グラフ
        .article
          .article-title
            この図形の解き方を教えてください
          .article-description
            高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。
          .article-posttime
            2018/07/24(Tuesday)
          .article-tags
            %ul
              %li.article-tag
                高2
              %li.article-tag
                三角関数
              %li.article-tag
                グラフ
        .article
          .article-title
            この図形の解き方を教えてください
          .article-description
            高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。
          .article-posttime
            2018/07/24(Tuesday)
          .article-tags
            %ul
              %li.article-tag
                高2
              %li.article-tag
                三角関数
              %li.article-tag
                グラフ
        .article
          .article-title
            この図形の解き方を教えてください
          .article-description
            高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。高校2年生で、三角関数の図形の問題を解いています。
          .article-posttime
            2018/07/24(Tuesday)
          .article-tags
            %ul
              %li.article-tag
                高2
              %li.article-tag
                三角関数
              %li.article-tag
                グラフ
