.main
  .box-container
    .sidebar
      .sidebar-container
        .question
          =image_tag 'hakase.png',class:"hakase"
          質問する
        .tag-list#middleschool
          = image_tag 'tanuki.png',class:"wolf"
          中学生数学
        .tag-list#highschool
          = image_tag 'wolf.png',class:"wolf"
          高校生数学
        .tag-list#university
          = image_tag 'cow.png',class:"wolf"
          大学生数学
    //= render "articles"
    .articles
      .articles-container
        = render partial: 'question', collection: @questions
