.footer
  %ul.footer-items
    %li.footer-item1
      © 2018 Smaths! Inc.
    %li.footer-item
      利用規約
    %li.footer-item
      プライバシーポリシー
    %li.footer-item
      ヘルプ
    %li.footer-item2
      お問い合わせ
    %li.footer-item
      smaths!とは
