= render "header_question"

.articlepage-body-new
  .box-container-new
    .question_title
      %input{class: 'question_title',placeholder:'タイトルを入力してください',type: 'text',id: "searchbox",autocomplete:"off"}
    .question_option
      %label.imagebutton{for: 'article_image'}
        = image_tag 'imageicon.png',class: "imageicon",id: "imageicon"
        %input{type:'file',style:'display:none',id:"article_image"}
    .question_box
      %textarea{class: 'question_box' ,placeholder:'質問内容を入力してください(1000文字以内)',type: 'text',id: "searchbox", autocomplete: "off"}
    %img{id:'question_image',style: "width:280px;height:280px,border:none;"}
    .question_submit
      %input{class: 'question_submit_button' ,type: 'submit'}
= render "footer"

