= render "header_question"

.articlepage-body-new
  .box-container

    %input{class: 'question_title',placeholder:'微分 高２',type: "text",id: "searchbox"}
    .question_box
      %input{placeholder:'微分 高２',type: "text",id: "searchbox"}
