= render "header_question"

.articlepage-body-new
  .box-container-new
    .question_title
      %input{class: 'question_title',placeholder:'タイトルを入力してください',type: 'text',id: "searchbox"}
    .question_option
      %i.fa-picture-o{id: "faicon"}
      %i.fa-line-chart{id: "faicon"}
    .question_box
      %textarea{class: 'question_box' ,placeholder:'問題を入力してください',type: 'text',id: "searchbox"}
    .question_image
    .question_submit
      %input{class: 'question_submit_button' ,type: 'submit'}
= render "footer"

