- for i in 1..4
  .user-page-userlogs-questions
    .user-page-userlogs-questions-container
      .user-page-userlogs-usericon-container
        = image_tag 'samplehaibara.png',class:'user-page-userlogs-usericon'
      .user-page-userlogs-username
        Aritomiさんが 2018/07/26に投稿
      .user-page-userlogs-title
        三角関数のグラフについて三角関数のグラフについて三角関数のグラフ三角関数のグラフについて三角関数のグラフ
