.main{
  // background-color:#EEEEEE;
  height:100%;
  width:100%;
  // padding-top:100px;
  // padding-right:45px;
  // padding-left:45px;
}

.box-container{
  padding-top:110px;
  padding-right:45px;
  padding-left:45px;
}

.sidebar{
  width:270px;
  float:left;
  margin-left:20px;
  // background-color:green;
  // padding-top:100px;
}

.sidebar-container{
  // background-color:green;
  width:225px;
  border-radius:8px;
}

.tag-list{
  padding:15px 20px;
  color:gray;
  border: 2px solid gray;
  border-radius:8px;
  margin-bottom:5px;
  background-color:#AAE087;
  font-weight:bold;
  font-size:15px;
  cursor:pointer;
  text-align:10px;
  width:225px;
  text-align: left;
}

.tag-list:hover{
  background-color:#B7D968;
}

.question{
  padding:20px 70px;
  border: 2px solid #526182;
  background-color:#466FA0;
  margin-bottom:40px;
  font-weight:bold;
  color:white;
  font-size:17px;
  margin-top:2px;
  cursor:pointer;
  border-radius:8px;
}


.articles{
  float:right;
  margin-right:20px;
}


.articles-container{
  width:880px;
  // background-color:yellow;
}

.article{
  padding:0px 20px;
  color:black;
  border: 1px solid gray;
  margin-top:6px;
  background-color:#EEEEEE;
}

.article-title{
  padding-top:5px;
  padding-bottom:8px;
  border-bottom: 1px solid gray;
  font-weight:bold;
  margin-top:5px;
  cursor:pointer;
}

  .article-description{
    padding-top:5px;
    padding-bottom:8px;
    margin-right:100px;
    cursor:pointer;
  }

  .article-posttime{
    padding-top:5px;
    padding-bottom:8px;
    font-size:5px;
  }

  .article-tags{
    margin-bottom:7px;

  }

  .category-word{
    font-weight:bold;
    color:gray;
    font-size:22px;
  }

  .question-word{
    font-weight:bold;
    color:gray;
    font-size:15px;
  }


.article-tag{
  font-size:9px;
  margin-right:5px;
  background-color:white;
  padding:5px;
  border-radius:8px;
  cursor:pointer;
}

.wolf{
  height:30px;
  width:30px;
}

.hakase{
  height:31px;
  width:35px;
  position:absolute;
  top:152px;
  left:95px;
}
