.header{
  background-color: #33CCFF;
  height:80px;
  width:100%;
  position:fixed;
  opacity: 1;
  .header-container{
    padding-left:50px;
    margin-top:17px;
    padding-right: 50px;
    .header-title{
      height:50px;
      font-size:30px;
      font-weight:bold;
      letter-spacing:6px;
      color:white;
      cursor:pointer;
      position:absolute;
      top:18px;
    }
    .header-search{
      float:right;
    }
    .megane{
      float:right;
      width:60px;
      height:50px;
    }
  }
}

ul li{
display: inline;
}

.nav-search-logo{
  margin-left:890px;
  color:white;
  font-size:18px;
  cursor:pointer;
}

.nav-post{
  color:white;
  font-size:19.5px;
  cursor:pointer;
  line-height:15px;
  position:absolute;
  top:33px;
  right:148px;
  font-weight:bold;
}

.nav-post:hover{
  color:#FFBEDA;
}

.searchicon{
width:40px;
height:41px;
margin-right:4px;
margin-top:1px;
}

.nav-search-word{
  color:white;
  font-size:19.5px;
  position:absolute;
  top:26px;
  font-weight:bold;
  cursor: pointer;
}

.nav-search-word:hover{
  color:#FFBEDA;
}

%li.nav-mypage{
  color:black;
  font-size:18px;
}

.smile{
  width:33px;
  height:33px;
  position:absolute;
  right:89px;
  top:23.5px;
  cursor:pointer;
}


.searchbox{
  width:245px;
  height:40px;
  position:absolute;
  top:-5px;
  right:45px;
  background-color:#f7f9f9;
  border-radius:50px;
  display:none;
  font-size:13px;
}

::-webkit-input-placeholder {
   color: #ccc; opacity: 0.8;
 }





